# Node
node_modules/
npm-debug.log*

# Python
venv/
__pycache__/
*.pyc

# Variables de entorno
.env

# VS Code / sistema
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
# Credenciales locales de Helm
charts/sa-platform/values-secret.yaml

GUIA_PERSONAL_EJECUCION_DEFENSA_P5.md
